body {
    margin-left: 15px;
    max-width: 800px;
    background-color: blanchedalmond;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

.credit {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin: 0;
}

.imagecontainer {
    float: left;
    margin: 0 15px 15px 0;
    max-width: 40%;
}

.mainimage {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}